.wrapper{
    height:40px;
    width:300px;
    margin:10px 15px;
    display:flex;
    align-items: center;
    background-color: var(--background-secondary);
    border-radius:4px;
    position: relative;
    overflow: hidden;
    transition:.1s;
}

.searchInput{
    height:40px;
    width:300px;
    border:none;
    font-size:24px;
    background-color: var(--background-secondary);
    color:var(--text-primary);
    box-sizing:border-box;
    padding:0 5px;
    font-variant: small-caps;
}

.searchInput:focus{
    outline: none;
}

.clearInput{
    width:30px;
    height:30px;
    border:none;
    border-radius:20px;
    background-color: transparent;
    border: 2px solid var(--background);
    color: var(--background);
    cursor: pointer;
    position: absolute;
    right:5px;
    transition:.2s;
}

.clearInputHidden{
    right:-35px;
}

.clearInput:hover{

}

@media (max-width: 520px) { 
    .wrapper{
        width:200px;
    }
    .searchInput{
        width:200px;
        font-size:20px;
    }
}
