body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --background: rgb(219, 219, 219);
  --background-secondary:rgb(151, 151, 151);

  --background-opposed: rgb(17, 15, 15);
  --text-primary: black;

}
[data-theme='dark'] {
  --background: rgb(17, 15, 15);
  --background-secondary:rgb(42, 43, 42);

  --background-opposed: rgb(219, 219, 219);
  --text-primary: rgb(201, 201, 201);
}

/* BAR */

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(95, 95, 95);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(56, 56, 56);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(39, 39, 39);
}